body {
    margin:0;
    font-family: "Roboto", sans-serif;
}
/* First Section */

.first, .logo-links, .first-mid, .second , .information{
    display: flex;
}
.first {
    background-color: #1f2937 ;
    flex-direction: column;
    
    padding: 20px 196px 48px 196px;
    
}

.logo-links {
    align-items: center;
    gap:16px;
    margin-bottom: 100px;
}

.link, .sub-title {
    font-size: 18px;
    color: #e5e7eb;
}

.sub-title{
    margin-bottom: 16px;
}
.first-mid {
    align-items:stretch;
    gap: 48px;
    justify-content: center;
    /* flex-wrap: wrap; */

}

a {
    margin: 0px;
    padding: 0px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin-right: auto;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 16px;
}

.image-header {
    width:300px;
    height: auto;
    margin-left: 20px;
}

.sign-up{
    background-color: #3882f6;
    color:white;
    border-radius: 6px;
    padding: 8px 16px;
}


/* Second Section */
.second {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px 196px 48px 196px;

}

.info-header {
    font-size: 36px;
    font-weight: 900;;
    color: #1f2937;
}

.information {
    flex-wrap: wrap;
    gap: 24px; 
    color: gray;
}

.image-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-info img{
    width:120px;
    height: 120px;
    border-radius: 20px;
}