body {
    margin:0;
    font-family: "Roboto", sans-serif;
}

.first, .second{
    padding: 20px 196px 100px 196px;
}

.first, .logo-links, .first-mid, .second , .information, .third{
    display: flex;
}
/* First Section */

.first {
    background-color: #1f2937 ;
    flex-direction: column;
}

.logo-links {
    align-items: center;
    gap:16px;
    margin-bottom: 100px;
}

.link, .sub-title {
    font-size: 18px;
    color: #e5e7eb;
}

.sub-title{
    margin-bottom: 16px;
}
.first-mid {
    align-items:stretch;
    gap: 48px;
    justify-content: center;
    /* flex-wrap: wrap; */

}

a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin-right: auto;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 16px;
}

.image-header {
    width:300px;
    height: auto;
    margin-left: 20px;
}

.sign-up{
    background-color: #3882f6;
    color:white;
    border-radius: 6px;
    padding: 8px 16px;
}


/* Second Section */
.second {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.info-header {
    font-size: 36px;
    font-weight: 900;;
    color: #1f2937;
}

.information {
    flex-wrap: wrap;
    gap: 24px; 
    color: gray;
}

.image-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-info img{
    width:120px;
    height: 120px;
    border-radius: 20px;
}

/* Third Section */
.third {
    flex-direction: column;
    background-color: #e5e7eb ;
    align-items: center;
    color: #1f2937;
    font-size: 36px;
    padding: 100px 196px 64px 196px;
    
}
.quote {
    font-style: italic;
}
.third .quoter {
    align-self: flex-end;
    font-weight: bold;
}

/* Fourth Section */
.fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 196px 64px 196px;
}

.container{
    display: flex;
    background-color: #3882f6;
    padding: 32px 96px 32px 96px;
    border-radius: 10px;
    align-items: center;
    gap: 96px;
}
.call {
    color: white;
    font-weight: bold;
}
.sub-call {
    color: white;
    font-size: 14px;
}

.container .sign-up {
    border: 3px solid white;
}